body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    height: 100vh;
    background-color: lightgrey;
}

header {
    text-align: center;
    font-size: 20px;
}

main {
    height: calc(110vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.links a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #111;
    border: 2px solid #111;
    padding: 1rem 2.5rem;
    text-align: center;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.links a:hover {
    background-color: #111;
    color: white;
}

.about-me{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.about-me-side{
    display: flex;
    flex-direction: row;
}

.about-me-side p {
    line-height: 1.8;
    font-size: 20px;
    flex: 4;
    padding-right: 20px;
}

.about-me-pic{
    flex: 1;
    width: 100%;
    max-width: 300%;
    height:auto;
    object-fit:contain;
}
