body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    height: 130vh;
    background-color: rgb(236, 248, 248) ;
}

header {
    text-align: center;
    font-size: 25px;
}

main {
    height: calc(160vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.links a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #111;
    border: 2px solid #111;
    padding: 1rem 2.5rem;
    text-align: center;
    border-radius: 8px;
    transition: all 0.2s ease;
}



.about-me-side a:visited{
    color: blue
}

.links a:hover {
    background-color: #111;
    color: white;
}

.about-me{
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-left: 10px;
}

.about-me-side{
    display: flex;
    flex-direction: row;
}

.about-me-side p {
    line-height: 1.8;
    font-size: 20px;
    flex: 3;
}

.about-me h2 {
    font-size: 30px;
    margin-bottom: 3px;
    margin-top: 40px;
}

.about-me-pic{
    flex: 1;
    width: 30%;
    max-width: 300%;
    height:auto;
    object-fit:contain;
}

.banner {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
}


.footer a:visited{
    color: blue;
}

.footer{
    margin-top: 20px;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(250, 243, 231);
}
