*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(48, 46, 46);
    color: white;
}

#header{
    width: 100%;
    background-color: rgb(22, 22, 22);
    color: white;
    position: fixed;
}

.container{
    padding: 10px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    height: 3px;
    background: red;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%
}

nav ul li a:hover{
    font-size: 22px;
    transition: 0.5s;
}

.active{
    font-weight: bold;
    font-size: 22px;
}

#about{
    padding: 80px 0;
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    animation: 2s picture-enlarge;
    height: 90vh;
}

.about-col-1{
    flex-basis: 40%;
}

#about-me-img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.about-col-2{
    flex-basis: 55%;
    font-size: 24px;
    line-height: 1.5em;
}

.about-col-2 h2{
    padding-bottom: 10px;
}

.about-col-2 p a{
    color: white;
    font-size: 24px;
}

.about-col-2 p a:visited{
    color: white
}

.project-panel{
    background-color: rgb(29, 28, 28);
    border-radius: 20px;
    padding: 25px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.4);
}


#projects h2{
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}

.project-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-col-1{
    flex-basis: 60%;
}

.project-col-1 h3{
    font-size: 40px;
    color: orange;
}
.project-col-1 h4{
    font-size: 30px;
    color: lightblue;
    padding-bottom: 5px;
    padding-top: 5px;
}

.project-col-1 p{
    font-size: 20px;
    color: white;
    line-height: 1.5em;
}

.project-col-1 a{
    font-size: 20px;
    color: white;
}


.project-col-1 ul{
    margin-left: 20px;
    font-size: 20px;
    color: white;
    line-height: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}


.project-col-1 a:visited{
    font-size: 20px;
    color: white;
}

.project-col-2{
    flex-basis: 35%;
    font-size: 24px;
}
.project-col-2 img{
    width: 100%;
    height:auto;
    border-radius: 5px;
}

.project-img-caption{
    margin-top: 10px;
    text-align: center;
    font-size: 23px;
}

#footer h3{
    color: black;
}

#footer {
    color: black;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 2rem;
    background-color: rgb(250, 243, 231);
    border-top: 5px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
}


.about-heading p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    text-align: center;
}

.about-heading a{
    font-size: 25px;
    color: white;
}

#embedded-pdf{
    padding-top: 80px;
    text-align: center;
}
#embedded-pdf p, a{
    color: orange;
    font-size: 30px;
}

.footer-links{
    color: blue;
    font-size: 18px;
}

.footer-links{
    color: blue;
}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
